src/EventFeed/Configuration/EventDay.Api.Client.Configuration.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EventDay.Api.Client.Configuration" elementFormDefault="qualified" targetNamespace="urn:EventDay.Api.Client.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="eventDayApi" type="tns:EventDay.Api.Client.Configuration.EventDayApiSectionCT" />
	<xs:complexType name="EventDay.Api.Client.Configuration.EventDayApiSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="eventConfiguration" type="tns:EventDay.Api.Client.Configuration.EventConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The EventConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="caching" type="tns:EventDay.Api.Client.Configuration.CachingElementCT">
				<xs:annotation>
					<xs:documentation>The Caching.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logging" type="tns:EventDay.Api.Client.Configuration.LoggingElementCT">
				<xs:annotation>
					<xs:documentation>The Logging.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="endpoint" use="optional">
			<xs:annotation>
				<xs:documentation>The endpoint of the API. Defaults to https://api.eventday.com</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="verifyValidSsl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The VerifyValidSsl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maximumOperationRetries" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaximumOperationRetries.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="requestTimeout" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>How long to wait for a request before it times out. (default is '00:00:15'. 15 seconds)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventDay.Api.Client.Configuration.EventConfigurationElementCT">
		<xs:attribute name="apiKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Create an API key for your event and supply it here.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="eventId" use="optional">
			<xs:annotation>
				<xs:documentation>The id of your event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventDay.Api.Client.Configuration.CachingElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="customProvider" type="tns:EventDay.Api.Client.Configuration.CacheProviderElementCT">
				<xs:annotation>
					<xs:documentation>The CustomProvider.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="minimumTimeToLive" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>A TimeSpan representing the least amount of time that an entity will be cached before checking the server for a new version. (ex. '00:30:00'. 30 minutes)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventDay.Api.Client.Configuration.LoggingElementCT">
		<xs:attribute name="enable" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Enables or disables api library logging.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventDay.Api.Client.Configuration.CacheProviderElementCT">
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>This type must implement EventDay.Api.Client.Caching.ICache.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initializationData" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>This data will be passed to the constructor of your provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
